#reopen-closed-tabs-panel {
  max-width: 400px;
  max-height: 500px;
  padding: 8px;

  #reopen-closed-tabs-search-container {
    padding-bottom: 8px;

    #reopen-closed-tabs-search-input {
      width: 100%;
    }
  }

  #reopen-closed-tabs-list-container {
    overflow-y: auto;
    max-height: 420px;
  }

  .reopen-closed-tabs-group-header {
    & label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8em;
      padding: 4px;
      color: var(--panel-secondary-text-color);
    }
  }

  .reopen-closed-tab-item {
    padding: 4px;
    cursor: default;
    border-radius: 4px;

    &:hover,
    &[selected="true"] {
      background-color: var(--arrowpanel-hover-background);
    }

    .tab-favicon {
      width: 16px;
      height: 16px;
      margin-inline-end: 8px;
    }

    .tab-item-labels {
      display: -moz-box;
      flex-direction: column;
    }

    .tab-item-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tab-item-context {
      font-size: 0.9em;
      opacity: 0.7;
    }

    .tab-status-icon {
      width: 16px;
      height: 16px;
      margin-inline-start: 4px;
    }
  }

  .reopen-closed-tab-item-disabled {
    padding: 4px;
    color: var(--panel-disabled-text-color);
  }
}
