@import "../shared/zen-design.css";
@import "../shared/settings-modal.css";
@import "styles/findbar.css";
@import "styles/markdown.css";
@import "styles/urlbar.css";
@import "styles/settings.css";
@import "styles/pseudo-bg.css";

:root {
  --browser-themed-toolbar-bg: var(--zen-themed-toolbar-bg, #333333);

  --acrylic-glass-bg: color-mix(in srgb, var(--zenux-bg) 40%, transparent 60%);

  --browse-bot-dialog-bg: var(--acrylic-glass-bg);
  --browse-bot-dialog-backdrop-filter: blur(32px) brightness(0.7) saturate(2.5);

  @media -moz-pref("extension.browse-bot.findbar-ai.background-style", "solid") {
    --browse-bot-dialog-bg: var(--zenux-bg) !important;
    --browse-bot-dialog-backdrop-filter: none !important;
  }

  @media -moz-pref("extension.browse-bot.findbar-ai.background-style", "acrylic") {
    --browse-bot-dialog-bg: var(--acrylic-glass-bg) !important;
    --browse-bot-dialog-backdrop-filter: blur(32px) brightness(0.7) saturate(2.5);
  }

  @media -moz-pref("extension.browse-bot.findbar-ai.background-style", "pseudo") {
    --browse-bot-dialog-bg: transparent !important;
    --browse-bot-dialog-backdrop-filter: none;
  }
}
