/* Adding some blur effects in youtube/youtube music and chess.com  */
/* to be used with https://addons.mozilla.org/en-US/firefox/addon/zen-internet/ */

:root {
  --mat-ga-shadow-size: 5px;
  --mat-ga-shadow-color: #00000044;
  --mat-ga-bg: #00000022;
  --mat-ga-blur: blur(20px);
}

@media -moz-pref("browser.tabs.allow_transparent_browser") {
  :root {
    --mat-ga-bg: #00000099;
    --mat-ga-blur: blur(10px);
  }
}

@-moz-document domain("youtube.com"), domain("music.youtube.com") {
  ytd-menu-popup-renderer,
  ytd-multi-page-menu-renderer,
  .ytp-contextmenu,
  ytmusic-player-bar,
  ytmusic-multi-page-menu-renderer,
  ytmusic-menu-popup-renderer > tp-yt-paper-listbox,
  ytmusic-nav-bar {
    background: var(--mat-ga-bg) !important;
    backdrop-filter: var(--mat-ga-blur) !important;
    box-shadow: 0 0 var(--mat-ga-shadow-size) #ffffff22 !important;
    border-radius: 10px;
    border: 1px solid #ffffff44 !important;
  }
}

@-moz-document domain("music.youtube.com") {
  html {
    /* remove extra space and color in bottom */
    background: transparent !important;

    ytmusic-app-layout > #content {
      height: calc(100vh - 205px) !important;
      overflow: scroll !important;
    }

    &.inactive-player {
      ytmusic-app-layout > #content {
        height: calc(100vh - 112px) !important;
      }
    }

    /* sidebar on always top */
    #side-panel {
      z-index: 20000;
    }

    /* position mini player correctly */
    #main-panel:has(ytmusic-player[player-ui-state="MINIPLAYER"]) {
      transform: translateX(-170px) translateY(-100px);
    }

    /* fixing slider half hidden */
    ytmusic-player-bar {
      border: 0 !important;
      padding-top: 12px !important;

      .tp-yt-paper-slider {
        top: 6px;
      }
    }

    ytmusic-nav-bar {
      border: none !important;
      border-radius: 0 !important;

      /* don't hide navbar if input is in focus */
      &:has(#input:focus) {
        opacity: 1 !important;
      }
    }

    /* transparent header of menu */
    ytd-simple-menu-header-renderer {
      background: transparent !important;
    }
  }
}

@-moz-document domain("youtube.com") {
  /* header blurry background */
  #container.style-scope.ytd-masthead {
    background: var(--mat-ga-bg) !important;
    backdrop-filter: var(--mat-ga-blur);
    border-bottom: 1px solid rgba(20, 20, 20, 0.2) !important;
    box-shadow: 0 0 var(--mat-ga-shadow-size) var(--mat-ga-shadow-color) !important;
  }

  /* make header transparent */
  ytd-simple-menu-header-renderer {
    background: transparent !important;
  }

  /* fix sidebar width  */
  #guide-content {
    > #header {
      position: absolute !important;
      z-index: 100 !important;
      background: inherit !important;
    }

    &:has(> #header:not([hidden])) > #guide-inner-content {
      padding-top: 50px !important;
    }
  }
}

/* chess.com board full height */
/* some parts inspired from https://github.com/chesshelper/chesshelper/blob/b45d83a0cb98f9a22de9b3d158d79d9c736d5422/src/assets/graphs/board_100vh.css */
@-moz-document domain("chess.com") {
  body {
    --gutter: 10px !important;
    --modifiedBoardWidth: 100vh !important;
    --boardControlsWidth: 50px !important;

    &:has(.ccHelper-wrapper) {
      --modifiedBoardWidth: calc(100vh - 66px) !important;
    }

    .ccHelper-wrapper {
      width: var(--boardHeight) !important;
      margin-left: var(--gutter) !important;
    }

    .home-quicklink,
    .cc-section,
    .cc-modal-body,
    .popover-wrapper > div,
    .sidebar-controller-container,
    .sidebar-component,
    .nav-component,
    .nav-panel-shade {
      background: var(--mat-ga-bg) !important;
      backdrop-filter: var(--mat-ga-blur) !important;
      box-shadow: 0 0 var(--mat-ga-shadow-size) #ffffff22 !important;
      border-radius: 10px;
      border: 1px solid #ffffff44 !important;
    }

    .nav-component {
      border-left: 0 !important;
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    .nav-panel-shade {
      background: #00000088 !important;
      margin-left: 10px !important;
      margin-top: 5px !important;
      height: calc(100vh - 10px) !important;
    }

    .cc-modal-body > header,
    .cc-section > .game-mode-top-section-component,
    .cc-sidebar-header-component,
    .cc-modal-header-component,
    .sidebar-header-component {
      background: #00000033;
      border-bottom: 1px solid #ffffff33;
    }

    .cc-section > .footer-actions-component,
    .rated-sidebar-footer-component {
      background: #00000033;
      border-top: 1px solid #ffffff33;
    }

    .home-quicklink {
      transition: all 200ms ease !important;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 var(--mat-ga-shadow-size) #ffffff88 !important;
      }
    }

    .popover-wrapper > div {
      background: #000000aa !important;
    }
  }
}
