/* https://github.com/YashjitPal/Arc-2.0/blob/main/Arc%202.0/Content%20CSS/Transparent-settings.css */
@media -moz-pref("browser.tabs.allow_transparent_browser") {
  :root {
    --zen-colors-tertiary: transparent !important;
    --zen-settings-secondary-background: transparent !important;
  }

  #preferences-stack vbox.navigation {
      background: var(--zen-colors-border-contrast) !important;
    }

  #preferences-root {
    background-color: transparent !important;
  }

  browser {
    background-color: transparent !important;
  }

  .dialogFrame {
    background-color: var(--sidebar-background-color) !important;
  }

  .sticky-container {
    width: calc(
      var(--page-main-content-width) + var(--main-margin-start) + var(--main-margin-start)
    ) !important;
    border-radius: 0 0 1em 1em !important;
  }

  html:has([data-l10n-id]) {
    background-color: transparent !important;
  }

  .KEYJUMP_hint {
    border-radius: 100px !important;
    background-color: #49fcbb !important;
    color: #000 !important;
    font-family: "Product Sans", Sans !important;
    font-weight: bold !important;
    box-shadow: #0008 0 0 10px !important;
    border: #0008 1px solid !important;
    transition: all 0.3s ease-in-out !important;
  }

  @-moz-document url(about:config), url(about:support) {
    html,
    #toolbar {
      background-color: transparent !important;
    }

    tr,
    table {
      background-color: transparent !important;
      border: none !important;
    }

    tr {
      outline: solid 1px #88888822 !important;
    }
  }

  groupbox {
    /*   background: var(--zen-colors-tertiary) !important; */
    background: var(--zen-colors-border-contrast) !important;
    border-radius: 8px !important;
    padding: 14px!important;
  }

  @-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    body,
    .App {
      background-color: transparent !important;
    }

    .App > div:nth-child(2),
    .wallpaper {
      display: none !important;
    }

    /*  no private hint  */
    .info-border > .info {
      display: none !important;
    }

    /*  rounded search  */
    #search-handoff-button {
      border-radius: 2em !important;
    }

    /*  no zen text  */
    .wordmark {
      display: none !important;
    }
  }

  @-moz-document url(addons.mozilla.org) {
    /* transparency */
    html,
    body,
    nav,
    header {
      background-color: transparent !important;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
    }

    :root {
      --darkreader-background-ffffff: transparent !important;
    }

    footer {
      display: none !important;
    }
  }
}
